### Coreutils Aliases
alias ..='cd ..'            # Go up one directory
alias ...='cd ../..'        # Go up two directories
alias ....='cd ../../..'    # And for good measure
alias l='ls -lah'           # Long view, show hidden
alias la='ls -AF'           # Compact view, show hidden
alias ll='ls -lFh'          # Long view, no hidden
alias cp="cp -R"
alias mkdir="mkdir -p"
alias grep="grep --color"
alias yy="rsync -azv --progress"  # --archive (copy perms, etc.) --zip --verbose
                                  # rsync <source> <destination>

### Git Aliases
alias gst='git status -sb'
alias glr='git pull --rebase'
alias gsp='git stash pop'
alias gitl='git log --pretty=format:"%h - %an, %ar : %s"'
alias git-undo='git reset --soft HEAD~1'
alias git-lines="git ls-files | xargs wc -l"
alias git-count='git shortlog -sn'
alias glogd='git log --graph --decorate'

### Aliases & Functions
alias be='bundle exec'
alias rake="noglob rake"
alias art='php artisan'
alias bower='noglob bower'
alias sha256='shasum -a 256'

alias desk='cd ~/Desktop'
alias code='cd ~/code'
alias vhosts='st /etc/hosts'
alias chrome='open -a "Google Chrome"'
alias server='open http://localhost:8000 && python -m SimpleHTTPServer'
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"

alias showlibrary='chflags nohidden ~/Library/'
alias hidelibrary='chflags hidden ~/Library'


# Github Issue (staging)
gissue () {
    git checkout staging &&
    git pull origin staging &&
    git checkout -b "issues/$@" &&
    git commit -m "$(printf "Fixes #$@\n\n[ci skip]")" --allow-empty &&
    git push -u origin "issues/$@" &&
    hub pull-request -i "$@"
}

# Github Issue (master)
gissuem () {
    git checkout master &&
    git pull origin master &&
    git checkout -b "issues/$@" &&
    git commit -m "Fixes #$@" --allow-empty &&
    git push -u origin "issues/$@" &&
    hub pull-request -i "$@"
}

# 7Geese migration
south () {
    ./manage.py schemamigration "$@" --auto && ./manage.py migrate "$@"
}
