[color]
    ui = true
[user]
    name = Kevin Salter
    email = kevinsalter.developer@gmail.com
[push]
    default = simple
[credential]
    helper = osxkeychain
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[core]
	editor = code --wait
	excludesfile = /Users/kevinsalter/.gitignore_global
	commentChar = $
# [commit]
#   gpgsign = true
# [gpg]
# 	program = /usr/local/bin/gpg
